/*Start of Responsive web things*/


/*End*/

@font-face{
  font-family: Saira_Condensed;
  src: url(Saira_Condensed/SairaCondensed-Regular.ttf);
}

@font-face {
  font-family: Open_Sans;
  src: url(Open_Sans/OpenSans-Regular.ttf);
}

@font-face {
  font-family: Merriweather;
  src: url(Merriweather/Merriweather-Bold.ttf);
}

@font-face {
  font-family: Merriweather_Sans;
  src: url(Merriweather_Sans/Merriweather-Light.ttf);
}

body{
  font-family: Helvetica, sans-serif;
}


.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/heroimg.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;


}

h1{
  color: #ffffff;
  text-align: center;
  padding-top: 325px;
  letter-spacing: 15px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 65px;
  text-transform: uppercase;
}

.sub{
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  padding-top: 10px;
  letter-spacing: 15px;
  font-family: Saira_Condensed;
  font-size: 20px;
}

.mission{
  color: white;
  font-family: Open_Sans;
  line-height: 2.5;
  font-size: 30px;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  height: 100vh;
  padding: 0 55px 0 55px;
  background-color: #255551;
}

/* NOTE: Tracker */
.DAILY{
  font-family: Merriweather;
  font-size: 50px;
  float: left;
  margin-bottom: 20px;
}
.left-tracker{
  padding-left: 130px;
}

.left-tracker hr{
  height: 1.25px;
  border: none;
  background-color: #e6e6e6;
  margin: 20px 0 0 0;
  width: 1100px;
}

.tracker{
  padding: 80px 0 0 20px;
  height: 75vh;
}

.tracker-heading{
  font-family: Merriweather_Sans;
  font-size: 30px;
  padding-top: 40px;
}

.box{
   background-image: url(img/monaug3.jpg);
   background-color: #D7DDD4;
   margin: 40px 75px 0 0;
   height: 434px;
   float: right;
   width: 750px;
}

.box h4{
  display: inline;
  font-family: Merriweather_Sans;
  background-color: rgba(215, 221, 212, 0.75);
  margin: 20px 20px 0 30px;
  font-weight: normal;
  font-size: 30px;
  padding: 10px 20px 10px 20px;
}

ul{
  font-family: Open_Sans;
  font-size: 20px;
  line-height: 2;
  padding-top: 30px;
}

.CANDY{
  float: left;
}

/* NOTE: About me section */
.intro{
  height: 100vh;
  padding: 100px 25px 0 20px;
}

.about-moi{
  font-family: Merriweather;
  font-size: 50px;
  margin-left: 130px;
}

.intro p{
  font-family: Open_Sans;
  margin-top: 40px;
  margin-left: 130px;
  font-size: 20px;
}

.intro hr{
  height: 1.25px;
  border: none;
  background-color: #e6e6e6;
  margin: 20px 0 0 130px;
  width: 1100px;
}


.mission p{
  padding-top: 12%;
}

html * {
  margin: 0;
}



.links{
  padding-top: 5px;
}

span{
  display: none;
}

.hero a{
  text-decoration: none;
  color: #ffffff;
  float: right;
  margin-top: 50px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-family: Open_Sans;
  padding-right: 30px;
}

.articles{
  margin-right: 30px;
}

footer{
  height: 20vh;
  background-color: #141515;
}

.page-top{
  text-align: center;
  padding-top: 30px;
}

.page-top a{
  color: #171C21;
  font-size: 40px;
}


footer p a{
  text-decoration: none;
  color: #ffffff;
  font-family: Open_Sans;
  letter-spacing: 2px;
}

footer p{
  color: #d6d6d6;
  font-family: Open_Sans;
  text-align: center;
  letter-spacing: 2px;
}

/* NOTE: Branding */
.branding-footer{
  padding-top: 30px;
  text-transform: uppercase;
  font-family: Helvetica;
  padding-bottom: 20px;
}

.branding-footer a{
  color: white;
  text-decoration: none;
  font-size: 22px;
  font-weight: bold;
}
